@model PolymorphicModelBinder.Samples.Mvc.Models.Devices.Laptop

<div class="card mb-4">
    <div class="card-header">
        Laptop
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Brand" class="form-label"></label>
            <input asp-for="Brand" class="form-control"/>
        </div>
    </div>
</div>