@{
    ViewData["Title"] = "Polymorphic model binder";
}

<div class="mb-4">
    <h1>Polymorphic model binder</h1>
    <p>
        This is an example ASP.NET Core project with showing the options of polymorphic model binder.
    </p>
</div>